
@{
    ViewBag.Title = "AvaliarFt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AvaliarFt</h2>
<div style="margin-left:210px">
    <link href="../../estilo.css" rel="stylesheet" />
    <div class="row">
        <div class="col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
                <img src="http://mobile-cuisine.com/wp-content/uploads/2013/09/Roaming-Rotisserie-virginia-food-truck.jpg" alt="...">
            </a>
        </div>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <!--Região das estrelas para votação -->
        <div class="estrelas col-lg-7">
            <h4>
                <input type="radio" id="cm_star-empty" name="fb" value="" checked />
                <label for="cm_star-1"><i class="fa"></i></label>
                <input type="radio" id="cm_star-1" name="fb" value="1" />
                <label for="cm_star-2"><i class="fa"></i></label>
                <input type="radio" id="cm_star-2" name="fb" value="2" />
                <label for="cm_star-3"><i class="fa"></i></label>
                <input type="radio" id="cm_star-3" name="fb" value="3" />
                <label for="cm_star-4"><i class="fa"></i></label>
                <input type="radio" id="cm_star-4" name="fb" value="4" />
                <label for="cm_star-5"><i class="fa"></i></label>
                <input type="radio" id="cm_star-5" name="fb" value="5" />
            </h4>

            <!--Região para descrever sobre o FT-->
            <div class="media-body" style="margin-left:310px">
                Area onde vai ficar as informações sobre
                o FoodTruck Telefone, horário de funcionamento
                Area onde vai ficar as informações sobre
                o FoodTruck Telefone, horário de funcionamento
                Area onde vai ficar as informações sobre
                o FoodTruck Telefone, horário de funcionamento
                Area onde vai ficar as informações sobre
                o FoodTruck Telefone, horário de funcionamento
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                Area onde vai ficar as informações sobre
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
                o FoodTruck Telefone, horário de funcionamento
            </div>

        </div>
    </div>
</div>
<br />
<div class="col-lg-10" style="margin-left:250px">
    <h3>Nossos produtos:</h3>
    <div class="media">

        <!--Produto 1-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>
        <!--Produto 2-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>

        <!--Produto 3-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>
        <br />
        <!--Começo da segunda fileira-->
        <!--Produto 4-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>

        <!--Produto 5-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>

        <!--Produto 6-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>
        <br />
        <!--Inicio da terceira fileira-->
        <!--Produto 7-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>

        <!--Produto 8-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>

        <!--Produto 9-->
        <div class="media-left media-middle">
            <!--Tamanho da imagem tem que 64x64-->
            <img class="media-object" src="https://imagesapt.apontador-assets.com/fit-in/64x64/0f6a596be34641c1b8087e9103fc6674/5502983558-100783116919857.jpg" alt="...">

        </div>
        <div class="media-body">
            <h4 class="media-heading">X-TUDO</h4>
            (Pão, 3 Hamburguer, bacon, 3 ovos, molho especial)
        </div>
    </div>
    <!--Região para mostrar a localização-->
    <h3>Onde estamos:</h3>
    <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:350px;width:1000px;'>
        <div id='gmap_canvas' style='height:350px;width:1000px;'></div><div><small><a href="http://www.embedgooglemaps.com/pt/">The quickest Map generator on the web!									Clique aqui!									Visite o nosso site</a></small></div><div><small><a href="https://noleggioauto.zone/">noleggio auto lungo termine</a></small></div>
        <style>
            #gmap_canvas img {
                max-width: none !important;
                background: none !important;
            }
        </style>
    </div>
    <script type='text/javascript'>function init_map(){var myOptions = {zoom:16,center:new google.maps.LatLng(-20.811761,-49.37622720000002),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(-20.811761,-49.37622720000002)});infowindow = new google.maps.InfoWindow({content:'<strong>Título</strong><br>são jose do rio preto<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

</div>

<div class="col-lg-7" style="margin-left:250px">
    <h3>Deixe seu comentário sobre o FoodTruck:</h3>
    <textarea class="form-control" rows="3"></textarea>
    <br />
    <button name="singlebutton" class="btn btn-success" style="margin-left:660px">Comentar</button>
</div>

<div class="col-lg-7" style="margin-left:250px">
    <h4>Comentários:</h4>
    (area onde ficara os comentários feitos pelos clientes)
</div>

