
@{
    ViewBag.Title = "CadastroFT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Tela de cadastro FT-->
<form action="index.html">
    <!-- area de campos do form -->
    <div class="col-md-6" style="margin-left:150px">
        <h3 class="page-header">Cadastre seu FT e Divulgue sua marca!</h3>
        <div class="row">
            <div class="form-group col-md-10">
                <label for="campoNome">Nome FT</label>
                <input type="text" class="form-control" id="campoNome">
            </div>

            <div class="form-group col-md-10">
                <label for="campoEmail">Endereço de e-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group col-md-10">
                <label for="campoSenha">Senha</label>
                <input type="password" class="form-control" id="campoPassword1" placeholder="Password">
            </div>
            <div class="form-group col-md-10">
                <label for="exampleInputFile">Selecione uma imagem</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Selecione a Imagem do seu FT</p>
            </div>         
            <div class="form-group col-md-10">
                <label for="campoEndereco">Endereço</label>
                <input type="text" class="form-control" id="campo3">
            </div>

            <div class="form-group col-md-10">
                <label for="campoCidade">Cidade</label>
                <input type="text" class="form-control" id="campo3">
                <br />
                <b>Fale sobre seu FT</b>
                <textarea class="form-control" rows="3"></textarea>
                <button type="button" class="btn btn-success" style="margin-left:475px">Salve</button>

            </div>
        </div>
    </div>
</form>