
@{
    ViewBag.Title = "LocalizarFt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LocalizarFt</h2>
<script src="~/JavaScript.js"></script>
<div class="col-lg-6" style="margin-left:200px">
    <form method="get" action=".">
        <label style="margin-left:18px">
            Cep:
            <input name="cep" type="text" id="cep" value="" size="10" maxlength="9"  />
        </label><br />
        <label style="margin-left:18px">
            Rua:
            <input name="rua" type="text" id="rua" size="50" />
        </label><br />
        <label style="margin-left:5px">
            Bairro:
            <input name="bairro" type="text" id="bairro" size="40" />
        </label><br />
        <label>
            Cidade:
            <input name="cidade" type="text" id="cidade" size="40" />
        </label><br />
        <label>
            Estado:
            <input name="uf" type="text" id="uf" size="2" />
        </label><br />

    </form>

    <div class="col-md-4">
        <button name="singlebutton" class="btn btn-success" id="singlebutton" style="margin-left:150px">Localizar</button>
    </div>
    <br/>
    
</div>
<h3 class="col-lg-7" style="margin-left:210px">Proximos de você:</h3>

