
@{
    ViewBag.Title = "LocalizarFt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LocalizarFt</h2>
<!--Teste para o alemã00-->

<script src="~/JavaScript.js"></script>
<div class="col-lg-6" style="margin-left:200px">
    <form method="get" action=".">
        <label style="margin-left:18px">
            Cep:
            <input name="cep" type="text" id="cep" value="" size="10" maxlength="9" />
        </label><br />
        <label style="margin-left:18px">
            Rua:
            <input name="rua" type="text" id="rua" size="50" />
        </label><br />
        <label style="margin-left:5px">
            Bairro:
            <input name="bairro" type="text" id="bairro" size="40" />
        </label><br />
        <label>
            Cidade:
            <input name="cidade" type="text" id="cidade" size="40" />
        </label><br />
        

    </form>

    <div class="col-md-4">
        <button name="singlebutton" class="btn btn-success" id="singlebutton" style="margin-left:150px">Localizar</button>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
<h3 class="col-lg-7" >Proximos de você:</h3>
<div class="col-lg-10" style="margin-left:210px">
    <div class="row">
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right"></h4>
                    <h4>
                        <a href="#">Nome do FoodTruck</a>
                    </h4>
                    <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://mobile-cuisine.com/wp-content/uploads/2013/09/Roaming-Rotisserie-virginia-food-truck.jpg" alt="">
                <div class="caption">
                    <h4 class="pull-right"></h4>
                    <h4>
                        <a href="#">Nome do FoodTruck</a>
                    </h4>
                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">12 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right"></h4>
                    <h4>
                        <a href="#">Nome do FoodTruck</a>
                    </h4>
                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">31 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right"></h4>
                    <h4>
                        <a href="#">Nome do FoodTruck</a>
                    </h4>
                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">6 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="http://placehold.it/320x150" alt="">
                <div class="caption">
                    <h4 class="pull-right"></h4>
                    <h4>
                        <a href="#">Nome do FoodTruck</a>
                    </h4>
                    <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">18 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>